<h1>募集詳細</h1>
<div class="message">
  <% if flash[:error_message] %>
    <%= flash[:error_message] %>
  <% end %>
</div>
<div id="board-show">
  <div class="board">
    <div>
      <p class="bold">担当者</p>
      <p><%= @board.name %></p>
    </div>
    <div>
      <p class="bold">場所</p>
      <p><%= @board.place %></p>
    </div>
    <div>
      <p class="bold">試合開始日時</p>
      <p><%= @board.format_start_date %></p>
    </div>
    <div>
      <p class="bold">試合終了日時</p>
      <p><%= @board.format_end_date %></p>
    </div>
    <div>
      <p class="bold">レベル</p>
      <p><%= @board.level %></p>
    </div>
    <div>
      <p class="bold">詳細</p>
      <p><%= @board.content %></p>
    </div>
  </div>
  <div class="edit">
    <%= link_to "戻る", :back, class: 'btn btn-primary' %>
    <button class="btn btn-primary" data-toggle="modal" data-target="#edit-modal">編集</button>
    <% if user_signed_in? %>
      <button class="btn btn-primary" data-toggle="modal" data-target="#login-modal">参加を申し込</button>
    <% else %>
      <%= link_to '参加を申し込む', new_board_offer_path(@board), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<div class="modal fade" id="edit-modal" tabindex="1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
      </div>
      <%= form_with url: board_boards_edit_authorization_index_path(@board), local: true do |f| %>
        <div class="modal-body">
          <p>編集パスワードを入力してください。</p>
          <%= f.password_field :password %>
        </div>
        <div class="modal-footer">
          <%= f.submit '送信', class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if user_signed_in? %>
  <div class="modal fade" id="edit-modal" tabindex="1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
        </div>
        <%= form_with url: board_boards_edit_authorization_index_path(@board), local: true do |f| %>
          <div class="modal-body">
            <p>編集パスワードを入力してください。</p>
            <%= f.password_field :password %>
          </div>
          <div class="modal-footer">
            <%= f.submit '送信', class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
