<%= form_with url: board_offers_path, local: true do |f| %>
<div class="form">
  <ul>
    <li class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, value: @template.try(:name) %>
    </li>
    <li class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, value: @template.try(:email) %>
    </li>
    <li class="form-group">
      <%= f.label :content %>
      <%= f.text_field :content, value: @template.try(:content) %>
    </li>
    <%= link_to '戻る', :back, class: 'btn btn-primary' %>
    <%= f.submit '作成', {class: 'btn btn-primary'} %>
  </ul>
</div>
<% end %>
