<!DOCTYPE html>
<html>
  <head>
    <title>LeafBaseball</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target="#navgation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Leaf Baseball</a>
        </div>
        <div>
          <% if user_signed_in? %>
            <span class="navbar-text navbar-right">こんにちは<%= current_user.name %>さん</span>
          <% else %>
            <%= link_to 'ログイン', new_user_session_path, { class: 'navbar-text navbar-right' } %>
          <% end %>
          <%= link_to '新規作成', new_board_path, { class: 'navbar-text navbar-right' } %>
        </div>
      </div>
    </nav>
    <div class="container-fluid main-content">
      <div class="col-xs-2">
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><%= link_to '対戦相手募集', boards_path %></li>
        </ul>
      </div>
      <div class="col-xs-8">
        <%= yield %>
      </div>
      <% if user_signed_in? %>
        <div class="col-xs-2">
          <p><%= current_user.name %>さんでログインしています。</p>
          <button class="btn btn-default setting-button" id="account-main">アカウント設定</button>
          <div class="other" style="display: none">
            <%= link_to 'アカウント編集', edit_user_registration_path, { class: "btn btn-primary setting-button", style: 'width: 90%; float: right;' } %>
          </div>
          <button class="btn btn-default setting-button" id="template-main">テンプレート設定</button>
          <div class="template-menu" style="display: none">
            <%= link_to 'テンプレート一覧', templates_path, { class: "btn btn-primary setting-button", style: 'width: 90%; float: right;' } %>
          </div>
        </div>
      <% end %>
    </div>
  </body>
</html>
